---
layout: defaultpapers
title: Papers
subtitle: Recent lab publications & preprints
description: 
featured_image: /images/monstera3.jpg
---

<style>
  .file-list {
    list-style: none; 
    padding: 0; 
  }

  .file-list__item {
    margin-bottom: 5px; 
    display: flex;
    align-items: center; 
  }

  .file-list__image {
    margin-right: 15px !important;
  }

  .file-list__title {
    font-size: 20px !important;
  }

  .image-max-width {
    max-width: 200px;
    height: auto;
  }
</style>

<section class="intro">
  <div class="wrap">
    <h1>{{ page.title }}</h1>
    <p>{{ page.subtitle }}</p>
  </div>
</section>
 <section class="portfolio">
    <div class="wrap">
      <ul class="file-list">
      {% for file in site.papers reversed %}
        <li class="file-list__item">
          <div class="file-list__image">
            <img class="image-max-width" src="{% if file.image %}{{ file.image }}{% else %}/images/noimage.png{% endif %}" />
          </div>
          <div class="file-list__content">
            <div class="file-list__title"> <a href="{{ file.paperurl }}" >{{ file.title }}</a> </div>
            <p class="file-list__subtitle">{{ file.subtitle }}</p>
            <div class="file-list__description">
              {{ file.description }}
            </div>
            <p>publication date: {{ file.publicationdate }}</p>
            <p><a class="file-list__link" href="{{ file.openmaterials }}" target="_blank">open materials</a></p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

</head>
<body>
  

 
     